<div class="col-xs-10 col-xs-offset-1 sign-up-form form-inline text-center">

  <%= simple_form_for(Request.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, required: true, label: false, placeholder: "NAME" %>
    <%= f.input :email, required: true, label: false, placeholder: "EMAIL" %>
    <%= f.input :insta_handle, required: true, label: false, placeholder: "INSTAGRAM HANDLE" %>
  </div>

  <div class="form-group">
    <%# f.button :submit, "Sign up" %>
    <button type="submit" name="commit" class="sign-up-button">
      <span class="sign-up-arrow">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </span>
    </button>
  </div>

  <% end %>

</div>
